/* Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* General */

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: antiquewhite;
}

/* NavBar */

header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	color: azure;
	background: olivedrab;
	padding: 100px auto;
	margin: 0 auto;
	width: 100%;
	height: 110px;
	z-index: 5;
}

header h1 {
	text-shadow: 3px 3px 3px rgba(60, 60, 60, 0.5);
}

/* Main */

main {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	gap: 30px;
	width: 100%;
}

/* CohortListMenu */

.cohort-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 35vw;
	padding: 10px;
	margin: 1.1em auto;
}

.cohort-list h2,
.cohort-list h3 {
	text-align: center;
	color: rgb(171, 104, 82);
}

.cohort-list ul {
	list-style-type: none;
	width: 80%;
	padding: 10px;
}

.cohort-list li {
	color: rgb(171, 104, 82);
	font-weight: 600;
	transition: all 0.4s ease;
	transform: scale(1);
	border-bottom: 2px solid green;
	margin: 50px auto;
	width: 80%;
	padding: 5px 0px;
}

.cohort-list li:hover {
	cursor: pointer;
	transform: scale(1.05);
	background-color: rgb(171, 104, 82);
	color: azure;
	padding: 5px;
	box-sizing: content-box;
	border-radius: 5px;
}

/* StudentList */

.student-list {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: center;
	width: 60vw;
	padding: 25px;
	gap: 5px;
	background-color: rgb(245, 245, 135);
}

.student-list p {
	font-size: 20px;
	font-weight: 600;
}

.student-list h2,
.student-list p {
	text-align: center;
	text-shadow: 2px 2px 2px rgba(100, 100, 100, 0.4);
}

.student-list-color {
	color: rgb(0, 101, 7);
}

.total-students-color,
.student-details {
	color: olivedrab;
}

/* StudentCard */

.student-card {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: auto;
	gap: 7px;
	margin: 20px 15px;
	width: 95%;
	background-color: rgb(206, 188, 105);
	border: 4px outset gold;
	border-radius: 12px;
	box-shadow: 4px 4px 4px rgba(90, 90, 90, 0.4);
}

.student-info-image {
	display: grid;
	grid-column: 1;
	padding: 20px;
}

.student-info-image img {
	width: 160px;
	height: 160px;
	border-radius: 12px;
	box-shadow: 3px 3px 3px rgba(80, 80, 80, 0.4);
}

.student-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	gap: 15px;
}

.student-info-image {
	display: grid;
	grid-column: 1;
	padding: 25px;
}

.student-info-color {
	color: azure;
}

.ontrack-graduate {
	display: grid;
	grid-column: 3;
	gap: 20px;
	margin-right: 0.2em;
	margin-top: 0.4em;
	color: green;
}

.birth-date {
	color: gold;
}

/* Show Section */

.show-section {
	display: grid;
	grid-column: 1 / span 3;
	grid-row: 2;
}

.show-btn-section {
	display: grid;
	grid-column: 1;
	margin-left: 33.3%;
	margin-bottom: 10px;
}

.show-more,
.notes-aside {
	background-color: blanchedalmond;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

/* Show Section Button */

.show-btn {
	background-color: rgb(255, 238, 0, 0.7);
	border-radius: 8px;
	border: 2px outset lightcyan;
	padding: 5px;
	transition: all 0.4s ease;
	transform: scale(1);
	color: rgb(180, 65, 36);
	font-weight: 600;
	text-shadow: 1px 1px 2px rgb(70, 70, 70, 0.5);
}

.show-btn:hover {
	background-color: wheat;
	color: rgb(252, 96, 56);
	cursor: pointer;
	transform: scale(1.05);
}

/* StudentDetails */

.details-card {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	justify-items: center;
	align-content: space-around;
	padding: 30px;
}

.details-aside {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 18px;
	margin-bottom: 1.1em;
}

.details-aside h3 {
	color: rgb(115, 52, 37);
	margin-bottom: 10px;
}

.student-details-color1 {
	color: rgb(175, 79, 56);
}

.student-details-color2 {
	color: black;
}

/* OneOnOneNotes */

.notes-aside {
	display: grid;
	justify-items: center;
	align-items: stretch;
	padding: 25px 0;
	background-color: rgb(251, 245, 234);
}

.notes-aside h3 {
	text-align: center;
	color: rgb(115, 52, 37);
	margin-bottom: 15px;
}

.notes-aside-form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border: 2px solid rgb(115, 52, 37);
	width: 90%;
	padding: 25px;
	gap: 10px;
}

/* OneOnOneNotes Form Button */

.notes-btn {
	background-color: rgba(115, 52, 37, 0.7);
	border-radius: 8px;
	border: 2px outset lightcyan;
	padding: 5px;
	transition: all 0.4s ease;
	transform: scale(1);
	color: #fff;
	font-weight: 600;
	text-shadow: 1px 1px 2px rgb(50, 50, 50, 0.5);
}

.notes-btn:hover {
	background-color: wheat;
	color: rgba(115, 52, 37, 0.7);
	cursor: pointer;
	transform: scale(1.05);
}
