* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: antiquewhite;
}

/* .App {

} */

/* NavBar */
header {
	display: flex;
	justify-content: center;
	align-items: center;
	color: azure;
	background: olivedrab;
	padding: 100px auto;
	margin: 0 auto;
	width: 100%;
	height: 150px;
}

/* Main */
main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
}

/* CohortListMenu */
.cohort-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 35vw;
	padding: 10px;
	margin: 1.1em;
}

.cohort-list h2,
.cohort-list h3 {
	text-align: center;
	color: rgb(171, 104, 82);
}

.cohort-list ul {
	list-style-type: none;
	width: 80%;
	padding: 10px;
}

.cohort-list li {
	color: rgb(171, 104, 82);
	font-weight: 600;
	transition: all 0.4s ease;
	transform: scale(1);
	border-bottom: 2px solid green;
	margin: 50px auto;
	width: 80%;
	padding: 5px 0px;
}

.cohort-list li:hover {
	cursor: pointer;
	transform: scale(1.05);
	background-color: rgb(171, 104, 82);
	color: azure;
	padding: 5px;
	box-sizing: content-box;
	border-radius: 5px;
}

/* StudentList */
.student-list {
	display: grid;
	width: 60vw;
	padding-left: 15px;
	background-color: rgb(245, 245, 135);
}
