* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: antiquewhite;
}

/* NavBar */
header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	color: azure;
	background: olivedrab;
	padding: 100px auto;
	margin: 0 auto;
	width: 100%;
	height: 150px;
	z-index: 5;
}

header h1 {
	text-shadow: 3px 3px 3px rgba(60, 60, 60, 0.5);
}

/* Main */
main {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	gap: 30px;
	width: 100%;
}

/* CohortListMenu */
.cohort-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 35vw;
	padding: 10px;
	margin: 1.1em;
}

.cohort-list h2,
.cohort-list h3 {
	text-align: center;
	color: rgb(171, 104, 82);
}

.cohort-list ul {
	list-style-type: none;
	width: 80%;
	padding: 10px;
}

.cohort-list li {
	color: rgb(171, 104, 82);
	font-weight: 600;
	transition: all 0.4s ease;
	transform: scale(1);
	border-bottom: 2px solid green;
	margin: 50px auto;
	width: 80%;
	padding: 5px 0px;
}

.cohort-list li:hover {
	cursor: pointer;
	transform: scale(1.05);
	background-color: rgb(171, 104, 82);
	color: azure;
	padding: 5px;
	box-sizing: content-box;
	border-radius: 5px;
}

/* StudentList */
.student-list {
	display: grid;
	width: 60vw;
	padding: 25px;
	background-color: rgb(245, 245, 135);
}

.student-list p {
	font-size: 20px;
	font-weight: 600;
}

.student-list h2,
.student-list p {
	text-align: center;
	text-shadow: 2px 2px 2px rgba(100, 100, 100, 0.4);
}

.student-list-color {
	color: rgb(0, 101, 7);
}

.total-students-color,
.student-details {
	color: olivedrab;
}

/* StudentCard */
.student-card {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: auto;
	gap: 7px;
	margin: 20px 15px;
	width: 95%;
	/* rgb(230, 181, 164) */
	background-color: rgb(190, 206, 105);
	border: 4px outset gold;
	border-radius: 12px;
	box-shadow: 4px 4px 4px rgba(90, 90, 90, 0.4);
}

.student-info-image {
	display: grid;
	grid-column: 1;
	padding: 20px;
}

.student-info-image img {
	width: 160px;
	height: 160px;
	border-radius: 12px;
	box-shadow: 3px 3px 3px rgba(80, 80, 80, 0.4);
}

.student-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	gap: 15px;
}

.student-info-image {
	display: grid;
	grid-column: 1;
	padding: 25px;
}

.ontrack-graduate,
.student-info-color {
	color: azure;
}

.birth-date {
	color: gold;
}
